@model IEnumerable<learn.Models.Tickets>

@{
    ViewBag.Title = "ViewTickets";
}
<div style=" margin-bottom:10% ; margin-top:7%">
<h2>
    @Session["userName"].ToString() Tickets Page
</h2>


<p class="btn btn-default" style="margin-bottom:4% ">
    @Html.ActionLink("Create New Ticket", "CreatTicket" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
  </div>